@using joshflash.github.io.Shared
@page "/"


<main class="bg-image-dev ">
    <Navbar/>

    <div class="d-flex flex-column w-100 min-vh-100 justify-content-center align-items-center">
        <div class="container g-0 ">
            <div class="row g-0">
                <div class="col-lg-7 d-inline-flex bg-black-80 flex-column p-4">
                    <h1 class="d-inline-flex text-light text-opacity-75">Greetings</h1>
                    <h4 class="d-inline-flex text-light text-opacity-75">
                        My name is Josh Flash. Welcome to my page.
                        <br/>
                        <br/>
                        I am a game developer in Christchurch, New Zealand.
                        <br/>
                        <br/>
                        I believe in the power of games through the meaningful and emotional experiences they provide to us. Games are my passion and my living.
                        <br/>
                        <br/>
                    </h4>
                    <a href="/posts" class="btn btn-primary shadow btn-lg fw-bold mt-3 text-light text-opacity-75">
                        <i class="fas fa-project-diagram"></i> Projects
                    </a>
                </div>

            </div>
        </div>
    </div>

    <Footer/>

</main>