@using joshflash.github.io.Shared
@page "/posts"

<main class="bg-image-dev ">
    <Navbar/>

    <div class="d-flex flex-column w-100 min-vh-100 justify-content-center align-items-center">
        <div class="container g-0 ">
            <div class="row g-0">
                <h1 class="text-light text-opacity-75">Professional Projects</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-black-80 text-light text-opacity-75 mb-2">
                            <img src="assets/img/CPI.jpg" class="card-img-top" alt="post thumbnail image"/>
                            <div class="card-body">
                                <h3 class="card-title">Club Penguin Island </h3>
                                <p class="card-text">MMO for kids - PC/Mac release</p>
                            </div>
                            <a href="https://www.mmogames.com/game/club-penguin-island/" class="btn btn-primary stretched-link">View</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-black-80 text-light text-opacity-75 mb-2">
                            <img src="assets/img/wonder.jpg" class="card-img-top" alt="post thumbnail image"/>
                            <div class="card-body">
                                <h3 class="card-title">Wonderscope</h3>
                                <p class="card-text">AR Interactive Storytelling App</p>
                            </div>
                            <a href="https://wonderscope.com" class="btn btn-primary stretched-link">View</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-black-80 text-light text-opacity-75 mb-2">
                            <img src="assets/img/ninjatobu.jpg" class="card-img-top" alt="post thumbnail image"/>
                            <div class="card-body">
                                <h3 class="card-title">Ninja Tobu</h3>
                                <p class="card-text">Challenging Endless Runner - Android/iOS</p>
                            </div>
                            <a href="https://play.google.com/store/apps/details?id=com.cerebralfix.ninjatobu" class="btn btn-primary stretched-link">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <h1 class="text-light text-opacity-75">Personal Projects</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-black-80 text-light text-opacity-75 mb-2">
                            <img src="assets/img/tweenkey.jpg" class="card-img-top" alt="post thumbnail image"/>
                            <div class="card-body">
                                <h3 class="card-title">Tween Key</h3>
                                <p class="card-text">An Efficient Unity Tweening library</p>
                            </div>
                            <a href="https://github.com/JoshFlash/TweenKey" class="btn btn-primary stretched-link">View</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-black-80 text-light text-opacity-75 mb-2">
                            <img src="assets/img/tcg.jpg" class="card-img-top" alt="post thumbnail image"/>
                            <div class="card-body">
                                <h3 class="card-title">Tattva TCG (under development)</h3>
                                <p class="card-text">A Trading Card Game in Unity</p>
                            </div>
                            <a href="https://github.com/JoshFlash/TattvaTCG" class="btn btn-primary stretched-link">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <Footer/>

</main>

@code {

}